# React Native / Expo
node_modules/
.expo/
.expo-shared/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
dist/

# macOS
.DS_Store

# Temporary files
*.swp
*.swo
*~
.tmp/

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Android
*.apk
*.ap_
*.aab
*.dex
*.class
local.properties
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/
android/app/release/

# iOS
*.ipa
*.dSYM.zip
*.dSYM
ios/Pods/
ios/build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
project.xcworkspace/

# Testing
coverage/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Package managers
yarn.lock
package-lock.json

# Old README
README.cpp
